@use 'variables' as vars
@use 'breakpoint' as bp
@use 'slider'
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body
    font-family: "Kumbh Sans", sans-serif
    font-optical-sizing: auto
    background-color: vars.$white
    color: vars.$gray_950
    font-style: normal
    font-variation-settings: "YOPQ" 300

.fw400
    font-weight: 400

.fw600
    font-weight: 600

.fw700
    font-weight: 700

@include bp.breakpoint(48rem)
    

@include bp.breakpoint(80rem)
    